#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.h1 {
  position: fixed;
  top:0;  
  font-size: 10rem;
  margin-bottom: 2cqi;
  margin-top: auto;
  align-self: top;
  text-align: top;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
